body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: steelblue;
  font-size: 16px;
  font-weight: 700;
  background-color: lightcyan;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  margin: 0 auto;
  height: 80px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 50px;
  
}
input {
  width: 250px;
  margin: 5px;
  padding: 8px;
  border-style: none;
  border-radius: 7px;
  background-color: lightblue;
  color: steelblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

button {
  border-radius: 5px;
  margin: 5px;
  padding: 8px;
  border-radius: 7px;
  border: 2px solid steelblue;
  background-color: lightblue;
  color: steelblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:focus {
  background-color: steelblue;
  color: lightblue;
  box-shadow: 4px 4px 5px var(--blue), 2px 3px 2px var(--blue), 2px 2px 2px var(--blue);
}

::placeholder {
  color: steelblue;
}

.load-more {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: steelblue;
  color: lightblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover {
  background-color: lightblue;
  color: steelblue;
  box-shadow: 4px 4px 5px var(--blue), 2px 3px 2px var(--blue), 2px 2px 2px var(--blue);
}

.is-hidden {
  display: none;
}

.gallery {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.photo-card {
  height: 200px;
  width: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.photo-card a {
  display: block;
  text-decoration: none;
  height: 75%;
}

.photo-card img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.info {
  padding: 5px 5px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-item {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
